.siteHeader{
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 1000;
    transition: ease .3s;

    &__menu{
        display: flex;
        align-items: center;

        .menu-toggle{
            width: 25px;
            height: 25px;
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0;
            background: unset;
            border: 0;
            border-radius: 0;
            position: relative;
            z-index: 1000;

            &.active{
                span{
                    &:nth-child(1){
                        transform: rotate(-45deg) translate(-2px, 0);
                    }
                    &:nth-child(2){
                        transform: rotate(45deg) translate(-5px, -3px);
                    }
                }
            }

            span{
               width: 20px;
               height: 2px;
               background-color: #000;
               border-radius: 3px; 
               margin: 0 0 5px;
               transition: ease .3s;

               &:last-of-type{
                   margin: 0;
               }
            }
        }
        .lang{
            list-style: none;
            padding: 0;
            margin: 0 15px 0 0;

            li{
                a{
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: 900;
                    color: #000;
                    text-transform: uppercase;
                    transition: ease .3s;
                    padding: 10px;
    
                    &:hover{
                        opacity: .75;
                    }
                }
            }
        }
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                margin-right: 15px;
                position: relative;

                &:last-of-type{
                    margin-right: 0;
                }

                &.menu-item-has-children{
                    &>a{
                        position: relative;
                        z-index: 11;
                    }
                    &:hover{
                        .sub-menu{
                            z-index: 10;
                            display: block !important;
                        }
                    }
                }

                a{
                    font-size: 14px;
                    line-height: 19px;
                    padding: 10px;
                    font-weight: 900;
                    color: #000;
                    transition: ease .3s;

                    &:hover{
                        opacity: .75;
                    }
                }

                .sub-menu{
                    display: none !important;
                    position: absolute;
                    top: 25px;
                    left: 0;
                    background: #fff;
                    width: 150px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 10px 20px;

                    li{
                        margin: 0 0 5px;

                        &:last-of-type{
                            margin: 0;
                        }

                        a{
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }
    &__logo{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        transform: translate(0, -50%);
        max-width: fit-content;
        max-width: -moz-max-content;
        max-width: -webkit-fit-content;

        a{
            font-size: 20px;
            line-height: 1;
            font-weight: 900;
            color: #000;
            text-align: center;
            margin: 0;
        }
    }
    &__social{
        display: flex;
        align-items: center;

        a{
            font-size: 14px;
            line-height: 19px;
            margin-right: 25px;
            padding: 10px;
            font-weight: 900;
            color: #000;
            transition: ease .3s;

            &:hover{
                opacity: .75;
            }

            &.instagram{
                display: block;
                width: 33px;
                height: 33px;
                margin-right: 0;
                padding: 0;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    &--shadow{
        box-shadow: 0 0 30px #00000029;
    }
    &--scrolled{
        top: -110px;
    }
}
@media (max-width: 767px){
    .siteHeader{
        min-height: 60px;
        padding: 0 15px;

        &__menu{
            .menu-toggle{
                display: flex;
            }
            .lang{
                display: none;
            }
            ul{
                display: none;
            }
        }
        &__logo{
            a{
                font-size: 16px;
            }
        }
        &__social{
            a{
                display: none;

                &.instagram{
                    display: block;
                    width: 25px;
                    height: 25px;
                }
            }
        }
        &--scrolled{
            top: -70px;
        }
    }
}

.menuMobile{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    z-index: 999;
    pointer-events: none;
    transition: ease .5s;

    &--ready{
        left: 0;
    }
    &--active{
        pointer-events: all;

        .menuMobile__wrap,
        .menuMobile__lang{
            opacity: 1;
        }
    }

    &__wrap{
        opacity: 0;
        transition: ease .3s;

        ul{
            list-style: none;
            padding: 0;
            margin: 0;

            li{
                text-align: center;
                margin: 0 0 20px;

                a{
                    font-size: 21px;
                    line-height: 1.3;
                    font-weight: 900;
                    color: #000;
                    text-align: center;
                    margin: 0;
                    padding: 10px;
                }
                .link{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    padding-right: 15px;

                    .open-sub-menu{
                        width: 22px;
                        height: 22px;
                        position: absolute;
                        right: 5px;
                        top: 50%;
                        transform: translate(0, -50%);
                        transition: ease .3s;

                        &.active{
                            transform: translate(0, -50%) rotate(-180deg);
                        }

                        &:after{
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-image: url('/wp-content/themes/wflorianski/images/icons/sub-menu-ico.svg');
                            background-repeat: no-repeat;
                            background-size: 100%;
                            display: block;
                        }
                    }
                }

                .sub-menu{
                    display: none;
                    margin: 10px 0 0;

                    li{
                        margin: 0 0 10px;

                        a{
                            font-size: 14px;
                            line-height: 1.3;
                        }
                    }
                }
            }
        }
    }
    &__lang{
        display: block;
        margin: 40px 0 0;
        list-style: none;
        padding: 0;
        opacity: 0;
        transition: ease .3s;

        li{
            a{
                font-size: 21px;
                line-height: 1.3;
                font-weight: 900;
                color: #000;
                text-align: center;
                margin: 0;
                padding: 10px;
                text-transform: uppercase;
            }
        }
    }
}